<!DOCTYPE html>
<html>

<% const username = (user) ? user["username"] : ''; %>

<head>
  <title>Coco.ink</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/Coco Icon/Old Coco Icon.ico">
  <link href="/CSS/homepage.css" rel="stylesheet">
  <link href="/CSS/header.css" rel="stylesheet">
  <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
  <link href="/CSS/general.css" rel="stylesheet">
  <style>
    body {
      background-color: grey;
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("/Images/Background.png");
      margin: 0px;
      padding: 0px;
      /*height: 3000px;*/
      width: 100%;
      /*max-width: 1200px;*/
    }

    #webpage {
      position: absolute;
      margin-top: 50px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

    .products {
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 12px;
      margin-right: 12px;
      bottom: 0;
    }

    /*#header {}*/

    .header {
      display: flex;
      flex: 1;
      height: 44px;
      position: fixed;
      z-index: 100;
      margin-bottom: 50px;
      background-color: lightgrey;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
      padding-top: 12px;
      padding-left: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      /* From https://css.glass */
      background: rgba(211, 211, 211, 0.75);
      /*border-radius: 16px;*/
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.2px);
      -webkit-backdrop-filter: blur(5.2px);
      border: 1px solid rgba(211, 211, 211, 0.548);
      border-bottom: 2px solid rgba(211, 211, 211, 0.548);
    }


    /*.box-product {
            background-color: rgb(247, 243, 243);
            /* grid-template-columns: 100px 1fr; */
    /* width: 300px;
                height: 300px; *
            /*padding: 30px 3px 30px 40px;*
            /* display: grid; *

            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
            width: 300px;
            height: 300px;

            overflow-y: scroll;
            overflow-x: scroll;
        }*/

    .box-product {
      background-color: wheat;
      /*margin-bottom: 50px;*/
      border-radius: 30px;
      padding: 12px;
      margin: 12px;
      margin-top: 100px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
      overflow-y: auto;
      display: grid;
      grid-template-columns: 1fr 4fr;
    }

    #Coco {
      z-index: 101;
      height: 38px;
      padding-bottom: -20px;
      padding-right: -100px;
      opacity: 1;
      transition: height 1.0s;
      transition: opacity 1.0s;
      /**/
      transition: opacity 1.0s ease-in-out, height 1.0s ease-in-out;
      /**/
    }


    #Coco:hover {
      opacity: 0.10;
      cursor: pointer;
      height: 50px;
      transition: opacity 1.0s;
      transition: height 1.0s;
      /**/
      transition: opacity 1.0s ease-in-out, height 1.0s ease-in-out;
      /**/
    }

    .product-img {
      height: 120px;
      width: 120px;
      margin-left: 40px;
      max-width: 100%;
    }

    .Welcome-text-left {
      color: rgb(80, 80, 80);
      font-size: 40px;
      display: inline;
      float: left;
    }

    /*
                .Announcement {
                    background-color: wheat;
                    margin-top: 100px;
                    margin-bottom: 50px;
                }
                    */
  </style>
</head>

<body>
  <div id="webpage">
    <div id="header">
      <header class="header">
        <!--<button onclick="cocoSound();">Test</button>-->
        <a href="/index.html" style="margin-right: 5px !important;"><img id="Coco" src="/Coco.svg" onmouseover="const audio = new Audio(`/Coco.wav`); audio.play()"></a>

        <div class="left-header">
          <% if (false) { %>
          <div></div>
          <a class="content-only-a" href="/Games/">
            <button class="special-button">Games</button>
          </a>
          <button class="special-button">Productivity</button>
          <button class="special-button">Creation</button>
          <button class="special-button">Develop</button>
          <% } else { %>
          <a class="content-only-a" href="/about">
            <button class="special-button">About</button>
          </a>
          <a class="content-only-a" href="/Downloads/">
            <button class="special-button">Downloads</button>
          </a>
          <% } %>
        </div>

        <div id="user-controls" class="right-header">
          <script>
            console.log("User data:", <% JSON.stringify(user) %>);
          </script>
          <% if (user !=null && user !=="" ) { %>
          <ul style="align-items: center; justify-content: center; color: goldenrod;">
            Welcome back <a href="/users/<%= user.username %>">
              <%= user.username %>
            </a>!
          </ul>
          <ul style="align-items: center; justify-content: center; color: goldenrod; margin-left: 15px; margin-top: 10px; padding: 0px !important;">
            <a href="/messages"><img height="20px" src="/Stickers/Mail.stikr" alt="View your messages"></a>
            <span>Or</span>
            <a href="JavaScript:navBoxOpen('messages')"><img height="25px" src="/Stickers/Write.stikr" alt="Write a message"></a>
          </ul>
          <a class="content-only-a" href="/manage">
            <button class="special-button header-right">Manage account</button>
          </a>

          <% if (user.role==="admin" ) { %>
          <a class="content-only-a" href="/admin/">
            <button class="special-button">Open Admin Panel</button>
          </a>
          <% } %>

          <% } else { %>
          <a class="content-only-a" href="/login/">
            <button id="sign-in" class="special-button header-right">Sign In</button>
          </a>
          <a class="content-only-a" href="/register/">
            <button class="special-button">Create Account</button>
          </a>
          <% } %>

        </div>

      </header>
    </div>
  <!----<div id="Surprise" class="info-box" style="background-image: url('/Stickers/Sticker Face.svg');">
      <h1>Introducing... Stickers!</h1>
      <h4>Stickers are almost like emojis, they are usable on user descriptions, messages, and Comments.</h4>
      <a href="/projects/LPPDKduVk8/">Sticker Tutorial.</a>
    </div><!---->
  <!----<div id="Surprise" class="info-box" style="background-image: url('/Coco Icon/Coco\ The\ Coconut.svg'); background-size: contain !important;">
      <h1>Welcome To The new Coco Website!</h1>
      <h4>Welcome to my new website! If you see this box, then my website is still new!</h4>
      <ul>
        <li><a href="/register/">Create an Account</a></li>
        <li><a href="/login/">Sign in</a></li>
        <li><a href="JavaScript:navBoxOpen('messages')">Start messaging</a></li>
        <li><a href="/messages/">View messages</a></li>
        <li><a href="/users/Coco/">Follow the official <img class="sticker" src="/Stickers/Coco.stikr" alt="Coco Sticker"> account!</a></li>
      </ul>
    </div><!---->
    <div id="welcome">

      <div id="main-nav-box" class="navigation-box">
      </div>

      <div id="intro" class="info-box">
        <img class="Coco-logo" src="/Coco.svg">
        <p class="Welcome-text">Welcome To The Official Coco Website!</p>
        <h2>Homepage music:</h2>
        <h3>
          Ambler Kevin MacLeod (incompetech.com)
          Licensed under Creative Commons: By Attribution 3.0 License
          http://creativecommons.org/licenses/by/3.0/</h3>
        <% if (user===null || user==="" ) { %>
        <div class="big-box">
          <div class="big-box-header">
            <img class="Coco-logo" src="/Coco.svg">
            <p class="Welcome-text">Welcome To The Coco Website! Create An Account Or Sign In!</p>
          </div>
          <!----<dialog>Hello</dialog>-->
          <div class="cool-stuff">

            <div class="inner-big-box-object">
              <video width="750px" height="500px" controls>
                <source src="/Videos/Movie on 9-4-24 at 5.34 PM.mov" type="video/mp4">
                <!--<source src="movie.ogg" type="video/ogg">-->
                Your browser does not support the video tag.
              </video>
            </div>

            <div class="cool-text">
              Hello! Welcome To The Coco Website! (You Can Also Find Links To External Websites).
            </div>

            <div class="cool-description">A Quick Video For The Website!</div>
            <div class="cool-image">
              <img src="/Coco Icon/Old Coco Icon.svg">
            </div>

          </div>
        </div>
        <% } %>
        <div>
          <div id="news-box" class="big-box">
            <div class="big-box-header">
              <p class="Welcome-text-left">Coco News</p>
              <img src="Coco Icon/Coco News.svg">
            </div>
            <% news.forEach(function(box){ %>
            <div class="big-box">
              <div class="big-box-header">
                <img class="Coco-logo" src="<%- box.icon.src %>" height="132.78px">
                <p class="Welcome-text">
                  <%= box.name %>
                </p>
              </div>
              <!----<dialog>Hello</dialog>-->
              <div class="cool-stuff">

                <div class="inner-big-box-object">
                  <% if (box.media_type==="img" ) { %>
                  <img src="<%- box.img.src %>" width="750px" height="500px" style="<%- box.img.styles %>" alt="<% box.img.alt %>">
                  <% } else if (box.media_type==="video" ) { %>
                  <video width="750px" height="500px" controls>
                    <source src="<%- box.video.src %>" type="video/mp4">
                    <!--<source src="movie.ogg" type="video/ogg">-->
                    Your browser does not support the video tag.
                  </video>
                  <% } else {%>
                  <div width="750px" height="500px"></div>
                  <% } %>
                </div>

                <div class="cool-text">
                  <%- box.description %>
                </div>

                <div class="cool-description"><%- box.media_description %></div>
                <div class="cool-image">
                  <img src="/Coco Icon/Old Coco Icon.svg">
                </div>

              </div>
            </div>
            <% }); %>
          </div>
          <!--<link rel="stylesheet" href="/CSS/messages.css">-->
          <% if (username) { %>
          <div id="user-messages" class="big-box" style="height: 500px;">
            <div class="big-box-header">
              <p class="Welcome-text-left">
                Your Messages
              </p>
              <p class="Welcome-text">
                <a href="/messages">View All</a>
              </p>
              <br>
              <div style="margin-top: 120px;">
                <ul id="messages-box">
                </ul>
              </div>

            </div>
          </div>
          <% } %>
        </div>
      </div>

      <footer class="box-product">
        <div id="footer-content">
          <p>Coco.ink © 2025 Coco Ink Software. All rights reserved.</p>
        </div>
        <h4>
          Want to know more about me? <a href="/faq">FactsAndQuestions</a>.
          You can also see my <a href="/family">family</a>.
        </h4>
      </footer>

    </div>

    <div id="error-container" class="error-container-hide">
      Some Scripts Have Probably Crashed
      <div id="e" class="error big-box"></div>
    </div>
    <!---->
    <script src="/Ambler.mp3Sound.js"></script>
    <script src="/JS/global.js"></script>
    <script>
      console.log(`At: ${window.location.pathname}`);
      if (window.location.pathname.includes('index.html')) window.location.href = window.location.pathname.replace('index.html', '');
    </script>
    <!--<script src="/Scripts/spawnNewstuff.js" type="module"></script>-->
    <script src="https://unpkg.com/dayjs@1.11.10/dayjs.min.js"></script>
    <!--<script type="module" src="/Scripts/bodyScripts.js"></script>-->
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
    <script>
      function escapeHTML(str) {
        const div = document.createElement("div");
        div.textContent = str; // browser escapes automatically
        return div.innerHTML;
      }

      // Utility: strip <a> tags but keep their text
      function stripLinks(str) {
        const div = document.createElement("div");
        div.innerHTML = str;
        div.querySelectorAll("a").forEach(a => {
          const text = a.textContent;
          a.replaceWith(text); // replace <a> with its text
          a.style.textDecoration = "underline";
        });
        return div.textContent; // return plain text
      }

      // Pass isSidebar=true when rendering inside the sidebar iframe
      function loadMessages(isSidebar = false) {
        const start = 0;
        const count = 5;

        fetch('/api/user/messages', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              start,
              count
            })
          })
          .then(response => response.json())
          .then(data => {
            console.log("received response");
            const messagesBox = document.getElementById('messages-box');

            data.messages.forEach(message => {
              if (!message) return;

              // Parse sender
              let senderObj;
              if (typeof message.sender === "string" && message.sender !== "System" && message.sender !== "Admin") {
                try {
                  senderObj = JSON.parse(message.sender);
                } catch {
                  senderObj = {
                    nickname: message.sender,
                    user: {
                      username: message.sender
                    }
                  };
                }
              } else {
                senderObj = {
                  nickname: message.sender,
                  user: {
                    username: message.sender
                  }
                };
              }

              // Sender display logic
              let senderDisplay;
              if (message.sender === "System" || message.sender === "Admin") {
                senderDisplay = `From ${senderObj.user.username}`;
              } else if (senderObj.nickname === senderObj.user.username) {
                senderDisplay = `
          <img src="/users/${senderObj.user.username}/pfp/" 
               alt="${senderObj.user.username}'s Profile Picture" 
               height="50px" width="70px" style="border:2px solid black; background-color: white !important;">
          <br>${senderObj.nickname}`;
              } else {
                senderDisplay = `
          <img src="/users/${senderObj.user.username}/pfp/" 
               alt="${senderObj.user.username}'s Profile Picture" 
               height="50px" width="70px" style="border:2px solid black; background-color: white !important;">
          <br>From @${senderObj.user.username} as "${senderObj.nickname}"`;
              }

              // Escape title always
              const safeTitle = escapeHTML(message.title);

              let safeContent;
              if (isSidebar) {
                // Sidebar rules
                if (message.sender === "System" || message.sender === "Admin") {
                  safeContent = stripLinks(message.content); // strip <a>, keep text
                } else {
                  safeContent = escapeHTML(message.content); // plain text only
                }
              } else {
                // Full page rules
                if (message.sender === "System" || message.sender === "Admin") {
                  // allow links, but escape everything else
                  const div = document.createElement("div");
                  div.innerHTML = message.content;
                  // escape non-link text
                  div.childNodes.forEach(node => {
                    if (node.nodeType === Node.TEXT_NODE) {
                      node.textContent = escapeHTML(node.textContent);
                    }
                  });
                  safeContent = div.innerHTML;
                } else {
                  safeContent = escapeHTML(message.content); // plain text only
                }
              }

              // Build message element
              const messageElement = document.createElement("li");
              messageElement.dataset.messageId = message.id;
              messageElement.className = message.isRead ? "read" : "unread";
              messageElement.innerHTML = `
        <h2>${safeTitle}</h2>
        <h3>${senderDisplay}:</h3>
        <p>${new Amp().Stickerify(safeContent)}</p>
      `;



              messagesBox.appendChild(messageElement);
            });
          })
          .catch(error => {
            console.error('Error loading messages:', error);
          });
      }


      clearError();
    </script>
    <% if (user && (user.username && ((user.username != null) && (user.username)))) { %>
    <script>
      loadMessages();
    </script>
    <% } %>
    <script src="/JS/@.js"></script>
</body>

</html>